.root {
    -fx-background-color: #f0f8ff;
}

.button {
    -fx-background-color: #32CD32;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #228B22;
}

.radioButton {
    -fx-text-fill: #00008B;
    -fx-font-size: 16px;
}

.tableView {
    -fx-table-cell-border-color: transparent;
}

.tableColumn {
    -fx-background-color: #ADD8E6;
    -fx-text-fill: #ffffff;
    -fx-alignment: CENTER;
}

.table-row-cell {
    -fx-border-color: transparent;
    -fx-padding: 5px;
}

.table-row-cell:odd {
    -fx-background-color: #E6E6FA;
}

.table-row-cell:even {
    -fx-background-color: #f0f8ff;
}

.barChart .axis {
    -fx-tick-label-fill: #00008B;
    -fx-font-size: 14px;
}

.barChart .axis .axis-label {
    -fx-text-fill: #00008B;
    -fx-font-size: 16px;
}

.barChart .chart-title {
    -fx-text-fill: #00008B;
    -fx-font-size: 18px;
}

.barChart .chart-bar {
    -fx-bar-fill: #32CD32;
}

.barChart .chart-bar:hover {
    -fx-bar-fill: #228B22;
}
.button {
    -fx-background-color: #1E90FF;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.button:hover {
    -fx-background-color: #104E8B;
}
.radio-button .dot {
    -fx-background-color: white;
    -fx-radius: 5;
}

.radio-button:selected .dot {
    -fx-background-color: #1E90FF;
}

.radio-button:hover {
    -fx-color: #104E8B;
}

.radio-button:armed {
    -fx-color: #00FF00;
}

.radio-button .label {
    -fx-text-fill: #1E90FF;
}

.radio-button:selected .label {
    -fx-text-fill: #00FF00;
}

.radio-button:focused {
    -fx-color: #00FF00;
}

.table-row-cell:selected{
    -fx-background-color: red;
}
.chart-plot-background{
    -fx-fill: #f0f8ff ;
}